{% extends 'base.html' %}

{% block title %}Farm Expenses - FarmFinanceMate{% endblock %}

{% block content %}
<h1>Add Farm Expense</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="expense_type" class="form-label">Expense Type:</label>
        <input type="text" class="form-control" id="expense_type" name="expense_type" required>
    </div>
    <div class="mb-3">
        <label for="amount" class="form-label">Amount:</label>
        <input type="number" class="form-control" id="amount" name="amount" min="0" step="0.01" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Expense</button>
</form>

<hr>

<h1>Farm Expenses</h1>
<form method="get" class="mb-3">
    <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="Search...">
        <button type="submit" class="btn btn-outline-secondary">Search</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Expense Type</th>
            <th>Amount</th>
            <th>Actions</th> <!-- New column for actions -->
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.date }}</td>
            <td>{{ expense.expense_type }}</td>
            <td>{{ expense.amount }}</td>
            <td>
                <a href="{% url 'edit_expense' expense.id %}" class="btn btn-primary btn-sm">Edit</a>
                <form method="post" action="{% url 'delete_expense' expense.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>Total Sum: {{ total_sum }}</p>
{% endblock %}
